<div class="card-for-games red">
  <%= image_tag 'owl.png', alt: 'Picture of an owl', class: 'card-img' %>
  <p>Game 1</p>
</div>

<div class="card-for-games yellow">
  <%= image_tag 'prawn.png', alt: 'Picture of a prawn', class: 'card-img' %>
  <p>Game 2</p>
</div>

<div class="card-for-games green">
  <%= image_tag 'penguin.png', alt: 'Picture of a penguin', class: 'card-img' %>
  <p>Game 3</p>
</div>

<div class="card-for-games blue">
  <%= image_tag 'polar-bear.png', alt: 'Picture of a polar bear', class: 'card-img' %>
  <p>Game 4</p>
</div>
