<h1>HEY I am DASCHBOARD!! 😵‍💫</h1>
<div class="flexy-hexi">
  <ul class="hex-grid__list flexy-hexi">
      <li class="hex-grid__item">
        <div class="hex-grid__content hex-sym-unlocked">
          <p>Second one</p>
          <i class="fas fa-fire hex-sym-big"></i>
        </div>
      </li>
      <li class="hex-grid__item">
        <div class="hex-grid__content hex-sym-unlocked">
          <p>First one</p>
          <i class="fas fa-award hex-sym-big"></i>
        </div>
      </li>
      <li class="hex-grid__item">
        <div class="hex-grid__content hex-sym-locked">
          <i class="fas fa-lock hex-sym-big"></i>
        </div>
      </li>
      <li class="hex-grid__item">
        <div class="hex-grid__content hex-sym-locked">
          <i class="fas fa-lock hex-sym-big"></i>
        </div>
      </li>
      <li class="hex-grid__item">
        <div class="hex-grid__content hex-sym-locked">
          <i class="fas fa-lock hex-sym-big"></i>
        </div>
      </li>
      <li class="hex-grid__item">
        <div class="hex-grid__content hex-sym-locked">
          <i class="fas fa-lock hex-sym-big"></i>
        </div>
      </li>
      <li class="hex-grid__item">
        <div class="hex-grid__content hex-sym-locked">
          <i class="fas fa-lock hex-sym-big"></i>
        </div>
      </li>
      <li class="hex-grid__item">
        <div class="hex-grid__content hex-sym-locked">
          <i class="fas fa-lock hex-sym-big"></i>
        </div>
      </li>
  </ul>
</div>

<div class="flex-move-bottom-right">
  <%= link_to 'LOGOUT', destroy_user_session_path, method: 'DELETE' %>
</div>


<%= @counter %>
