<h1>HEY I am DASCHBOARD!! 😵‍💫</h1>

<ul class="hex-grid__list">
    <li class="hex-grid__item">
        <div class="hex-grid__content">
            1
        </div>
    </li>
    <li class="hex-grid__item">
        <div class="hex-grid__content">
            2
        </div>
    </li>
    <li class="hex-grid__item">
        <div class="hex-grid__content">
            3
        </div>
    </li>
    <li class="hex-grid__item">
        <div class="hex-grid__content">
            4
        </div>
    </li>
    <li class="hex-grid__item">
        <div class="hex-grid__content">
            5
        </div>
    </li>
    <li class="hex-grid__item">
        <div class="hex-grid__content">
            6
        </div>
    </li>
    <li class="hex-grid__item">
        <div class="hex-grid__content">
            7
        </div>
    </li>
</ul>

<%= link_to 'LOGOUT', destroy_user_session_path, method: 'DELETE' %>
