<div class="flex-space-between">
  <div>
    <i class="fas fa-coins flex-coins padding-item"></i>
    <p class="padding-p"><%= current_user.balance %></p>
  </div>
  <div>
    <i class="fas fa-trophy flex-trophy padding-item"></i>
    <p class="padding-p">0</p>
  </div>
  <div>
    <i class="fas fa-award flex-award padding-item"></i>
    <p class="padding-p">0</p>
  </div>
</div>

<div class="flexy-hexi">
  <ul class="hex-grid__list flexy-hexi">
      <li class="hex-grid__item">
        <div class="hex-grid__content hex-sym-unlocked">
          <p>Second</p>
          <i class="fas fa-fire hex-sym-big"></i>
        </div>
      </li>
      <li class="hex-grid__item">
        <div class="hex-grid__content hex-sym-unlocked">
          <p>First</p>
          <i class="fas fa-award hex-sym-big"></i>
        </div>
      </li>
      <li class="hex-grid__item">
        <div class="hex-grid__content hex-sym-locked">
          <i class="fas fa-lock hex-sym-big"></i>
        </div>
      </li>
      <li class="hex-grid__item">
        <div class="hex-grid__content hex-sym-locked">
          <i class="fas fa-lock hex-sym-big"></i>
        </div>
      </li>
      <li class="hex-grid__item">
        <div class="hex-grid__content hex-sym-locked">
          <i class="fas fa-lock hex-sym-big"></i>
        </div>
      </li>
      <li class="hex-grid__item">
        <div class="hex-grid__content hex-sym-locked">
          <i class="fas fa-lock hex-sym-big"></i>
        </div>
      </li>
      <li class="hex-grid__item">
        <div class="hex-grid__content hex-sym-locked">
          <i class="fas fa-lock hex-sym-big"></i>
        </div>
      </li>
      <li class="hex-grid__item">
        <div class="hex-grid__content hex-sym-locked">
          <i class="fas fa-lock hex-sym-big"></i>
        </div>
      </li>
  </ul>
</div>

<div class="flex-move-bottom-right">
  <%= link_to 'LOGOUT', destroy_user_session_path, method: 'DELETE' %>
</div>
<div>
  <%= link_to 'PLAY', games_path %>
</div>

<%= @counter %>
