.black-button {
  margin: 0 auto;
  justify-content: center;
  flex-grow: 2;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  padding: 8px 24px;
  box-shadow: 2px 2px 3px #a1a0a3;
  background-color: black;
  height: 43px;
  width: 290px;
  border-radius: 3px;
  border: 3px solid black;
  }

.black-button {
  transition-duration: 0.4s;
}
.black-button:hover {
  background-color: grey;
  color: white;
}
