.blue {
  background-color: $blue;
}
.red {
  background-color: $red;
}
.yellow {
  background-color: $yellow;
}
.green {
  background-color: $green;
}
.blue-f {
  color: $blue;
}
.red-f {
  color: $red;
}
.yellow-f {
  color: $yellow;
}
.green-f {
  color: $green;
}
