.flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-coins {
  color: $yellow;
  font-size: x-large;
}

.flex-trophy {
  color: $red;
  font-size: x-large;
}

.flex-award {
  font-size: x-large;
}

.padding-item {
  padding: 10px 10px;
}

.padding-p {
  padding: 10px 10px 10px 15px;
  margin: 0px;
}

.view-height {
  height: 80vh;
}

.padding-bottom {
  padding: 10px 0px 80px 0px;
}

.center-h2 {
  text-align: center;
}

.text-align-end{
  text-align: end;
}
