.dashboard {
  h1 {
    font-size: 5rem;
  }
}

.flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-coins {
  color: $yellow;
  font-size: x-large;
}

.flex-trophy {
  color: $red;
  font-size: x-large;
}

.flex-award {
  font-size: x-large;
}

.padding-item {
  padding: 10px 10px;
}

.padding-p {
  padding: 10px 10px 10px 15px;
  margin: 0px;
}

.view-height {
  height: 80vh;
}

.view-height a:last-child {
  margin-bottom: 100px;
}


.leaderboard-table{
  width: 90vw;
  // height: 100vw;
  text-align: center;
  margin-bottom: 25px;
}

.leaderboard-table tbody {
  font-size: 25px;
}

.view-height h1 {
  font-weight: bold;
}

.color1 {
  background-color: #E2E2E2;
}

.margin-marginlara {
  // margin-bottom: 100px;
}

.leaderboard-div {
  height: 85vh;
  justify-content: space-between;
  .button-links {
    display: flex;
    flex-direction: column;
    height: 17vh;
  }
}

.color2 {
  background-color: #FDECF0;
}

.color3 {
  background-color: #06D6A0;
}

.color4 {
  background-color: #EBFEFA;
}
.color5 {
  background-color: #FFD166;
}

.color6 {
  background-color: whitesmoke;
}

.color7 {
  background-color: #FFF9EB;
}

.color8 {
  background-color:#118AB2 ;
}

.color9 {
  background-color: #ECF9FD;
}

.color10 {
  background-color: #EF476F;
}

.myself {
  outline: solid 2px goldenrod;
}
.padding-bottom {
  padding: 10px 0px 80px 0px;
}

.center-h2 {
  text-align: center;
}

.text-align-end {
  text-align: end;
}

.margin-buttons {
  margin: 0 auto;
  margin-bottom: 25px;
}

.margin-one-button {
  margin: 0 auto;
  margin-bottom: 100px;
}
