.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-flex-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-flex {
  display: flex;
  align-items: center;
}
