.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-all {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-flex-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-for-cards {
  display: flex;
  // justify-content: space-between;
  justify-content: space-evenly;
}

.flex-for-cards a {
  text-decoration: none;
}

.flex-flex {
  display: flex;
  align-items: center;
}

.flex-end-last {
  align-self: flex-end;
  justify-content: center;
}

.flexy-hexi {
  margin: 0 20px;
}

.flex-move-bottom-right {
  display: flex;
  justify-content: flex-end;
}

.flex-move-bottom-right a {
  color: $white;
}

.spacer {
  margin-bottom: 130px; /* how high is your footer */
  visibility: hidden;
}
