.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-flex-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-for-cards {
  display: flex;
  // justify-content: space-between;
  justify-content: space-evenly;
}

.flex-flex {
  display: flex;
  align-items: center;
}

.flex-end-last {
  align-self: flex-end;
}

.spacer {
  margin-bottom: 130px; /* how high is your footer */
  visibility: hidden;
}
