.wrapper-form{
  border-radius: 47px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow:  32px 32px 96px #d0d0d0,
              -32px -32px 96px #f0f0f0;
  margin: 40px 30px;
  font-family: $body-font;
}

.flex-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  padding: 8px 100px;
}

.padding-form{
  padding: 8px 12px;
}

.h2-form{
  margin-top: 10px;
  font-weight: bolder;
  font-size: 2em;
}

.display-block{
  display: block;
}

.margin-form {
  margin: 5px 0px;
}
