.reward-container{
  background-image: url("/images/background.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.reward-container h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 69px;
  margin-top: 1em;
}

.reward-container p {
  font-family: 'Amatic SC', 'cursive';
  font-weight: bold;
  font-size: 35px;
}

.show-results-button {
  margin: 0 auto;
  justify-content: center;
  flex-grow: 2;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  padding: 8px 24px;
  box-shadow: 2px 2px 3px #a1a0a3;
  background-color: black;
  height: 43px;
  width: 290px;
  border-radius: 3px;
  border: 3px solid black;
  text-decoration: none;
}

.show-results-button {
  transition-duration: 0.4s;
}

.show-results-button:hover {
  background-color: grey;
  color: white;
}

.margin-position {
  margin: 40px 0px 70px 0px;

}

.giftbox {
  width: 8em;
}

.margin-position p {
  margin-bottom: 0px;
}

#coin-size {
  font-size: 40px;
}
