<div class="morph-div-no-padding flex-column-all timer-margin">
  <div class="center-timer">
    <div class="circular">
      <div class="inner"></div>
      <div class="number">
        <div class="wrapper-play">
          <div class="wrapper-timer">0</div>
        </div>
      </div>
      <div class="circle">
        <div class="bar left">
            <div class="progress finished"></div>
        </div>
        <div class="bar right">
            <div class="progress finished"></div>
        </div>
      </div>
    </div>
    <i class="fas fa-thumbs-up"></i>
    <div class="flex-end">
      <%= link_to 'CONTINUE', games_path, class: 'black-button div-margin'%>
      <%= link_to 'FINISH', play_session_reward_path, class: 'black-button div-margin'%>
    </div>
  </div>
</div>
