<div id="confetti"></div>
  <div class="reward-container">
    <h1>Congrats</h1>
      <p> You earned 10 coins</p>
  <div class="button-position">
    <%= link_to "SHOW RESULTS", dashboard_path, class: "show-results-button" %>
  </div>
  </div>
