<div id="confetti"></div>
<div class="reward-container">
  <h1>Congrats</h1>
  <%= image_tag "giftbox.png", class:"giftbox" %>
  <p> You earned <%= @counter %> today! <i class="fas fa-coins yellow-f"></i></p>
  <div class="button-position">
    <%= link_to "SHOW DASHBOARD", dashboard_path, class: "black-button", style: "width: 75vw" %>
  </div>
</div>
