<div class="wrapper-play", data-controller="display-timer">
  <div class="wrapper-timer", data-display-timer-target="timer">
    <p>timer</p>
  </div>
  <%= image_tag 'prawn.png', alt: 'Picture of a prawn' %>
</div>
